footer {
    background-color: $darkred;
    border: solid 3px $gray;
    border-radius: 10px;
    color: $whitesmoke;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    font-size: x-large;

    .remarcar {
        text-decoration: none;
        font-weight: bold;
        color: $white;
    }
}