header {
    h1 {
        color: $whitesmoke;

    }

    .logoinfernal {
        width: 70px;
        border-radius: 50%;
    }

    .fondobar {
        background-image: url(../assets/img/lava2.png);
        padding: .5rem;
        margin: .5rem;
        color: $white;
        border: solid 3px $darkred;
        border-radius: 1rem;
        font-size: x-large;
    }

    .hovermenu {
        color: $white;
        text-decoration: none;

        &:hover {
            background-color: $gray;
            color: $white;
            border-radius: 10px;
        }
    }
}