header {
    h1 {
        margin: 1.5rem;
        color: $white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .logoinfernal {
        width: 70px;
        border-radius: 50%;
    }

    .fondobar {
        background-image: url(../assets/img/lava2.png);
        padding: 1rem;
        margin: 1rem;
        color: $white;
        border: solid 3px $darkred;
        border-radius: 1rem;
        font-size: x-large;

        .hamburguesa {
            color: $gray;
            background-image: url(../assets/img/lavamobile.jpg);
        }
    }

    .hovermenu {
        color: $white;
        text-decoration: none;
        transition: 0.66s;

        &:hover {
            background-color: $gray;
            color: $white;
            border-radius: 10px;
        }
    }
}