.carousel {
    margin: 1rem;
    margin-top: 1rem;
    padding: .1rem;
    border: solid 3px $gray;
    background-color: #8080805c;
}

h2 {
    color: $white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 2rem;
    padding: 2rem;
    font-size: 20px;
    background-color: $gray;
    border: groove 1px $red;
}

.brandcars {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
    justify-content: space-around;

    .card {
        background-color: $gray;
        border: solid 5px $darkred;
        border-radius: 5%;
        justify-content: center;
        margin: 10px;
        transform: scale(1.0, 1.0);
        transition: all 1s;

        &:hover {
            background-color: $whitesmoke
        }
    }
}

.art-index {
    background-color: $gray;
    border: solid 3px $darkred;
    border-radius: 10px;
    color: $white;
    margin: 2rem;
    padding: 1rem;

    #p0 {
        font-size: 2.5rem;
        text-align: center;
        padding-bottom: 5%;

    }

    .texto {
        text-align: center;
        font-size: larger;
        word-spacing: 1px;
        padding: .1rem;
    }
}

.galeria {
    border: ridge 3px $darkred;
    margin: .1rem;
    margin-bottom: 1rem;
    transform: scale(1.0, 1.0);
    transition: all 2s;

    &:hover {
        transform: scale(1.05, 1.08);
    }
}

.galeria2 {
    border: ridge 3px $darkred;
    margin: .1rem;
    margin-bottom: 1rem;
    transform: scale(1.0, 1.0);
    transition: all 2s;

    &:hover {
        transform: scale(1.05, 1.08);
    }
}

.galeria3 {
    border: ridge 3px $darkred;
    margin: .5rem;
    margin-bottom: 2rem;
    transform: scale(1.0, 1.0);
    transition: all 2s;
    max-width: 2fr;
    max-height: 2fr;

    &:hover {
        transform: scale(1.05, 1.05);
    }
}

.pagination {

    .page-link {
        background: $gray;
        color: $whitesmoke;
        border-color: $darkred;
    }

}

.marca {
    display: flex;
    justify-content: center;
    border: solid 3px $darkred;
    background-color: gray;
    margin: .5rem;
    padding: 1rem;
    height: 300px;
    max-width: 100%;
    transform: scale(1.0, 1.0);
    transition: all 1s;

    &:hover {
        transform: scale(1.1, 1.1);
        background-color: $whitesmoke;
    }

    .imagen {
        max-height: 100%;
        max-width: 100%;
    }

}

.producto {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px $gray;
    background-color: $whitesmoke;
    color: $gray;
    margin: 1rem;
    padding: 5%;
    transform: scale(1.0, 1.0);
    transition: all 0.5s;

    #carta-titulo {
        color: $white;
        font-size: 1rem;
        background-color: $gray;
        border: solid 3px gray;
        text-align: center;
        text-transform: uppercase;
        margin: 10px;
        padding: 1rem;
    }

    .carta-texto {
        background-color: $gray;
        color: $white;
        text-align: left;
        border: solid 2px gray;
        padding: 1rem;
    }

    .carta-imagen {
        justify-content: center;
        max-height: 100%;
        max-width: 100%;
    }

    &:hover {
        transform: scale(1.01, 1.01);
        background-color: lightpink;
    }
}

.contacto {
    background-color: $gray;
    border: solid 5px $darkred;
    border-radius: 10px;
    color: $white;
    margin: 2rem;
    padding: 5%;

    .h2c {
        text-align: center;
        border: $gray;
        margin: 10px;
        padding: 1rem;
        font-size: 30px;
    }

    .bienvenida {
        text-align: center;
        margin: 0;
        font-size: 20px;
    }

    .form {
        justify-content: center;
        text-align: center;
        padding: 2rem;
        margin: 0;
    }
}

.form-control {
    background-color: $whitesmoke;
}