.carousel {
    padding: .5rem;
}

.brandcars {
    display: flex;
    padding: 3rem;
    justify-content: space-evenly;

    .card {
        border: solid 5px $gray;
        border-radius: 5%;
        justify-content: center;
    }
}

.art-index {
    background-color: $gray;
    border: solid 3px $darkred;
    border-radius: 10px;
    color: $white;
    margin: .5rem;
    padding: 10px;
    text-align: justify;

    #p0 {
        text-align: center;
    }
}

.galeria {
    border: ridge 5px $darkred;
    margin: 1%;
}

.pagination {

    .page-link {
        background: $gray;
        color: $whitesmoke;
        border-color: $darkred;
    }

}

.marca {
    border: ridge 5px $darkred;
    background-color: $gray;
    width: 200px;
    height: 200px;
    object-fit: fill;
}

.card {
    color: $whitesmoke;
    background-color: $gray;
    margin: 1%;
    height: 50%;
    object-fit: fill;
}

.contacto {
    background-color: $gray;
    border: solid 5px $darkred;
    border-radius: 10px;
    color: $white;
    margin: .5rem;
    padding: .5rem;

    .bienvenida {
        text-align: center;
    }

    .form {
        text-align: center;
        padding: 1rem;
    }
}